@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");
body {
  font-family: "Manrope", sans-serif;
}

blockquote {
  width: 80%;
  height: 100%;
  margin: 0;
  color: black;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
blockquote p {
  margin: 0;
}
blockquote p span {
  font-weight: 700;
}

.blockquote--icon {
  background-color: black;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: absolute;
  font-size: 1.3rem;
  top: -15px;
  left: 30px;
}

.header {
  position: relative;
  height: 800px;
  background: rgb(201, 231, 242);
  background: linear-gradient(90deg, rgb(201, 231, 242) 0%, rgb(98, 186, 218) 500%);
  overflow: hidden;
}
.header__showcase {
  height: 90%;
}
.header__floatImg--item1 {
  position: absolute;
  top: 120px;
  right: 0;
}
.header__floatImg--item2 {
  position: absolute;
  bottom: 50px;
  left: 0;
}
.header__floatImg--item3 {
  position: absolute;
  bottom: -30px;
  right: 0;
}

@media only screen and (max-width: 767px) {
  .header {
    height: 570px;
  }
}
.nav-link {
  color: rgba(0, 0, 0, 0.8) !important;
}
.nav-link:hover {
  color: rgb(0, 0, 0) !important;
}

.navbar__nav {
  padding: 10px 0 15px 0;
}

.navbar__title {
  font-size: 1.5rem;
}

#navbar__login--regis {
  background: #4F46BA;
  border: none;
  color: white !important;
  padding: 7px 15px;
  border-radius: 5px;
  margin-left: 10px;
}
#navbar__login--regis i {
  margin-left: 5px;
}

.navbar__div {
  padding: 10px 35px 0 35px;
}

.navbar__content {
  justify-content: end;
}

@media only screen and (max-width: 991px) {
  .navbar__login--mobile {
    display: contents !important;
  }
  .navbar__login {
    display: none;
  }
}
.row {
  height: 100%;
}

.showcase__imgs {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.showcase__imgs--item1 {
  position: absolute;
  top: 90px;
  z-index: 3;
}
.showcase__imgs--item2 {
  position: absolute;
  top: 37px;
  z-index: 5;
}
.showcase__imgs--item2 img {
  width: 222px;
}
.showcase__imgs--item3 {
  position: absolute;
  left: 200px;
  bottom: 115px;
  z-index: 4;
}
.showcase__check {
  display: flex;
  padding-top: 65px;
}
.showcase__check--item {
  display: flex;
  align-items: center;
}
.showcase__check--item i {
  background-color: #4F46BA;
  color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.showcase__check--item p {
  margin: 0 10px;
  cursor: default;
}
.showcase__buttons {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.showcase__buttons #button {
  padding: 10px 20px;
  border: none;
  background-color: #4F46BA;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 25px;
  padding: 15px 35px;
  transition: all 0.5s ease-in-out;
}
.showcase__buttons #button:hover {
  background-color: #463ea1;
}
.showcase__buttons .seeHowWorks {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
}
.showcase__buttons .seeHowWorks:hover p {
  color: #463ea1;
}
.showcase__buttons .seeHowWorks:hover #button__video {
  background-color: #1db37e;
}
.showcase__buttons .seeHowWorks p {
  color: #4F46BA;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
}
.showcase__buttons .seeHowWorks #button__video {
  padding: 10px 20px;
  border: none;
  background-color: #22D497;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 100%;
  padding: 13px 19px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.showcase__text {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showcase__text h1 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  width: 90%;
  padding: 0 0 15px 0;
}
.showcase__text h1 span {
  color: #4F46BA;
}
.showcase__text p {
  color: rgb(100, 96, 125);
  max-width: 80%;
}

@media only screen and (max-width: 991px) {
  .showcase__imgs--item1 {
    display: none;
  }
}
@media only screen and (max-width: 767px) {
  .showcase__imgs {
    display: none;
  }
  .showcase__check {
    padding: 35px 0 0 0;
  }
  .showcase__text {
    justify-content: flex-start;
  }
}
@media only screen and (max-width: 575px) {
  .showcase__buttons {
    justify-content: center;
  }
  .showcase__text {
    text-align: center;
    margin: 5% 0 0 0;
  }
  .showcase__text h1 {
    width: 100%;
  }
  .showcase__text p {
    max-width: 100%;
  }
  .showcase__check {
    display: flex;
    justify-content: center;
  }
  .header__floatImg--item3 {
    display: none;
  }
}
.companies {
  width: 100%;
  background-color: #F5F6F8;
}
.companies__title {
  text-align: center;
  padding: 30px 0 0 0;
  color: black;
  font-size: 1.2rem;
}

.slider {
  height: 100px;
  margin: auto;
  overflow: hidden;
  position: relative;
  width: auto;
}
.slider__track {
  animation: roll 30s linear infinite;
  display: flex;
  width: 2520px;
}
.slider__track--item {
  height: 100px;
  width: 180px;
}

@keyframes roll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-1260px);
  }
}
.beneficios {
  background-color: #FAFBFF;
  padding: 50px 0;
  position: relative;
}
.beneficios__floatImg--item1 {
  position: absolute;
  bottom: -75px;
  right: 0;
}
.beneficios__floatImg--item2 {
  position: absolute;
  top: 155px;
  left: 0;
}
.beneficios__texts {
  justify-content: space-between;
  margin-bottom: 50px;
}
.beneficios__texts--text {
  text-align: left;
  width: 40%;
}
.beneficios__texts--text h3 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  padding: 10px 0;
}
.beneficios__texts--blockquote {
  background-color: #F5F6F8;
  width: 35%;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

@media only screen and (max-width: 991px) {
  .beneficios__texts--blockquote {
    background-color: #F5F6F8;
    width: 45%;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
  }
}
@media only screen and (max-width: 767px) {
  .beneficios__texts--text {
    z-index: 2;
    text-align: left;
    width: 100%;
  }
  .beneficios__texts--text h3 {
    font-size: 170%;
  }
  .beneficios__texts--text p {
    margin: 0;
  }
  .beneficios__texts--blockquote {
    display: none;
  }
}
.beneficios__cards {
  grid-gap: 30px;
  margin: 40px 0;
  position: relative;
}
.beneficios__card {
  height: 400px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.beneficios__card h3 {
  padding: 10px 0 5px 5px;
  margin: 0;
  text-align: start;
}
.beneficios__card--text {
  width: 85%;
  text-align: center;
  margin: auto;
}
.beneficios__card--text img {
  margin: 15px 0;
}
.beneficios__card--text h2 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  font-size: 2.1rem;
  margin-bottom: 20px;
}

@media only screen and (max-width: 991px) {
  .beneficios__cards {
    grid-gap: 16px;
  }
  .beneficios__card h3 {
    font-size: 1rem;
  }
  .beneficios__card--text img {
    height: 40px;
  }
  .beneficios__card--text h2 {
    font-size: 1.7rem;
  }
}
@media only screen and (max-width: 767px) {
  .beneficios__card:last-child {
    height: 250px;
  }
}
@media only screen and (max-width: 428px) {
  .beneficios__card--text h2 {
    font-size: 1.3rem;
    margin-bottom: 10px;
  }
  .beneficios__card--text p {
    font-size: 0.9rem;
  }
}
@media only screen and (max-width: 331px) {
  .beneficios__card--text h2 {
    font-size: 1.2rem;
  }
}
.whyUs {
  background-color: #FAFBFF;
  padding-bottom: 50px;
}
.whyUs__img {
  display: flex;
  position: relative;
}
.whyUs__img--item {
  z-index: 1;
}
.whyUs__img--1 {
  position: absolute;
  top: 145px;
  left: 65px;
  z-index: 2;
}
.whyUs__img--2 {
  position: absolute;
  top: 260px;
  left: 35px;
  z-index: 2;
}
.whyUs__img--3 {
  position: absolute;
  top: 370px;
  z-index: 2;
}
.whyUs__img--4 {
  position: absolute;
  top: 32px;
  left: 10px;
  z-index: 2;
}
.whyUs__why {
  color: #3734A9;
  font-size: 1.3rem;
  margin: 10px 0 0 0;
}
.whyUs__title {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  margin: 15px 0 20px 0;
}
.whyUs__text {
  color: rgb(100, 96, 125);
  margin-bottom: 20px;
}
.whyUs__check {
  padding: 20px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.whyUs__check--item {
  display: flex;
  padding: 5px 0;
}
.whyUs__check--item i {
  background-color: #FDBC64;
  color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.whyUs__check--item p {
  margin: 0 10px;
  cursor: default;
}

@media only screen and (max-width: 991px) {
  .whyUs .img__div {
    display: flex;
    align-items: center;
  }
  .whyUs__img {
    align-items: center;
  }
  .whyUs__img--1 {
    top: 100px;
    left: 50px;
  }
  .whyUs__img--2 {
    top: 160px;
    left: 35px;
  }
  .whyUs__img--3 {
    top: 225px;
  }
  .whyUs__img--4 {
    left: 0;
  }
}
@media only screen and (max-width: 767px) {
  .whyUs .img__div {
    display: none;
  }
}
.statistics {
  background-color: #3734A9;
  color: white;
  height: 200px;
  position: relative;
  margin-bottom: 50px;
}
.statistics img {
  position: absolute;
  top: 0;
  right: 0;
}
.statistics__text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid rgba(0, 0, 0, 0.3);
}
.statistics__text p {
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin: 0;
}
.statistics__numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistics__numbers--num h3 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  color: white;
  font-size: 3.6rem;
  margin: 8px 0;
}
.statistics__numbers--num p {
  margin: 0;
}
.statistics__numbers--num p i {
  padding: 0 7px;
  color: #B1CA16;
}

@media only screen and (max-width: 767px) {
  .statistics {
    z-index: -2;
  }
  .statistics img {
    z-index: -1;
  }
  .statistics__text {
    display: none;
  }
  .statistics__numbers {
    padding: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .statistics__numbers--num h3 {
    font-size: 3rem;
  }
}
@media only screen and (max-width: 600px) {
  .statistics {
    z-index: -2;
  }
  .statistics img {
    z-index: -1;
  }
  .statistics .container {
    margin: 0;
    padding: 0;
    width: 100%;
  }
  .statistics .container .row {
    width: 100vw;
    margin: 0;
  }
  .statistics__numbers {
    justify-content: space-evenly;
  }
  .statistics__numbers--num h3 {
    font-size: 2.5rem;
  }
}
@media only screen and (max-width: 499px) {
  .statistics {
    height: 170px;
  }
  .statistics__numbers--num {
    padding: 0 15px;
  }
  .statistics__numbers--num h3 {
    font-size: 2rem;
  }
}
.questions {
  margin-bottom: 50px;
}
.questions h3 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
}
.questions__cards--card {
  display: flex;
  justify-content: center;
}
.questions__cards--card .card {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 80%;
  height: 400px;
  padding: 25px 25px;
}
.questions__cards--card .card img {
  height: 60px;
  margin: 25px 0 0 0;
}
.questions__cards--card .card button {
  padding: 10px 20px;
  border: none;
  background-color: #FF7F5C;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  height: 53px;
  transition: all 0.5s ease-in-out;
}
.questions__cards--card .card button:hover {
  background-color: #db6646;
}
.questions__cards--card .card h4 {
  color: black;
  margin: 5px 0;
  text-align: center;
}
.questions__cards--card .card p {
  margin: 0;
  text-align: center;
}
.questions__accordion {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.questions__accordion--item {
  border: 0;
}
.questions__accordion--item #help__btn button {
  border: 2px solid rgba(0, 0, 0, 0.229);
  border-radius: 5px;
}

@media only screen and (max-width: 1199px) {
  .questions h3 {
    margin-bottom: 30px;
  }
  .questions__cards--card {
    display: none;
  }
  .questions__accordion--item {
    margin: 7px 0;
  }
}
@media only screen and (max-width: 465px) {
  .questions h3 {
    font-size: 2.1rem;
    text-align: center;
  }
}
.footer__info h3 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  font-size: 1.8rem;
  padding-bottom: 10px;
}
.footer__info a {
  text-decoration: none;
  color: black;
  transition: all 0.5s ease-in-out;
}
.footer__info--social {
  padding-bottom: 10px;
}
.footer__info--social p {
  color: rgb(100, 96, 125);
  margin: 0 15px 20px 0;
}
.footer__info--social ul {
  padding: 0;
  display: flex;
}
.footer__info--social ul li {
  padding-right: 25px;
  text-align: start;
}
.footer__info--social ul li a {
  font-size: 1.9rem;
  color: #4F46BA;
}
.footer__info--social ul li a:hover {
  color: #463ea1;
}
.footer__info--company, .footer__info--font {
  padding-bottom: 10px;
}
.footer__info--company div p, .footer__info--font div p {
  margin: 0 0 15px 0;
  font-size: 1.1rem;
}
.footer__info--company div p a:hover, .footer__info--font div p a:hover {
  color: rgb(50, 50, 50);
}
.footer__info--news form {
  display: flex;
  align-items: center;
}
.footer__info--news form input {
  padding: 9px 5px;
  border: 1px solid rgba(0, 0, 0, 0.27);
}
.footer__info--news form button {
  font-size: 0.8rem;
  padding: 10px 20px;
  padding: 10px 20px;
  border: none;
  background-color: #4F46BA;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
}
.footer__info--news p {
  color: rgb(100, 96, 125);
  margin: 15px 0;
}
.footer__copy {
  margin: 30px 0;
  text-align: center;
  border-top: 3px solid rgba(0, 0, 0, 0.27);
}
.footer__copy h5 {
  margin-top: 30px;
}

.account--logres {
  height: 100vh;
  overflow: hidden;
  width: 100%;
  background: rgb(19, 19, 19);
}
.account--logres .img-div {
  overflow: hidden;
  position: relative;
}
.account--logres .img-div img {
  position: absolute;
  right: -10%;
  height: 100vh;
  object-fit: fill;
}
.account--logres .info-div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
  position: relative;
}
.account--logres .info-div__home {
  color: white;
  font-size: 1.5rem;
  position: absolute;
  right: 30px;
  top: 10px;
}
.account--logres .info-div__title span {
  color: #463ea1;
}
.account--logres .info-div__p {
  text-align: center;
}
.account--logres .info-div__p span {
  color: #463ea1;
}

@media only screen and (max-width: 950px) {
  .account .img-div {
    display: none;
  }
  .account .info-div {
    width: 100%;
  }
}
@media only screen and (max-width: 480px) {
  .account .info-div {
    width: 100%;
  }
  .account .info-div .form__login {
    margin: 0 20px;
  }
}
.header--account {
  background-color: rgb(201, 231, 242);
}

.account {
  height: 100vh;
  width: 100%;
  background: #FAFBFF;
}
.account__painel {
  border-top: 5px solid #4F46BA;
  margin: 0;
}
.account .col__abas {
  padding-left: 0;
}
.account .abas {
  height: 100%;
}
.account .abas__div {
  box-shadow: 15px 0px 20px 0px rgba(0, 0, 0, 0.25);
  background-color: rgba(179, 179, 179, 0.741);
  height: 100%;
  width: 80%;
}
.account .abas__aba {
  width: 100%;
  height: 55px;
  border: none;
  border-bottom: 2px solid rgba(179, 179, 179, 0.741);
}
.account .abas .actived {
  background-color: #4F46BA;
  color: white;
}
.account .summary {
  width: 80%;
}
.account .summary__header {
  padding: 20px 0;
  border-bottom: 2px solid rgba(179, 179, 179, 0.741);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.account .summary__header h2 {
  margin: 0;
}
.account .summary__header h2 span {
  color: #4F46BA;
}
.account .summary__header a {
  text-decoration: none;
  color: black;
  font-size: 1.2rem;
  transition: all 0.5s ease-in-out;
}
.account .summary__header a:hover {
  color: rgb(62, 62, 62);
}
.account .summary__main {
  padding: 20px 0;
  border-bottom: 2px solid rgba(179, 179, 179, 0.741);
}
.account .summary__main--tables {
  padding-bottom: 20px;
  border-bottom: 2px solid rgba(179, 179, 179, 0.741);
}
.account .summary__main--tables table {
  display: inline;
  padding: 0 30px;
}
.account .summary__main--tables table th {
  padding: 10px 5px;
}
.account .summary__main--tables table th:nth-child(2) {
  font-weight: 700;
}
.account .summary__main--tables .tables__links {
  width: 100%;
  text-align: right;
}
.account .summary__main--tables .tables__links--link {
  color: black;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}
.account .summary__main--tables .tables__links--link:hover {
  color: rgb(62, 62, 62);
}
.account .summary__main--chaves {
  padding: 20px 15px 0 15px;
  display: flex;
  justify-content: space-between;
}
.account .summary__main--chaves h2 {
  color: #4F46BA;
  margin: 0;
}
.account .summary__main--chaves select {
  padding: 0 10px;
  width: 35%;
  font-size: 1.1rem;
}
.account .summary__footer {
  text-align: center;
  padding-top: 20px;
}
.account .summary__footer a {
  text-decoration: none;
  color: black;
  font-size: 1rem;
  transition: all 0.5s ease-in-out;
}
.account .summary__footer a:hover {
  color: rgb(62, 62, 62);
}
.account .current {
  background-color: #4F46BA;
  text-align: center;
  color: white;
  padding: 15px 0 20px 0;
}
.account .current__money {
  margin-bottom: 10px;
}
.account .current__money p {
  margin: 0;
}
.account .current__money h2 {
  font-weight: 700;
  margin: 0;
}
.account .current__payment table {
  width: 100%;
}
.account .current__payment--text {
  text-align: left;
  padding: 7px 0 7px 25px;
}
.account .current__payment--num {
  font-weight: 700;
  text-align: right;
  padding: 7px 25px 7px 0;
}
.account .current__btn {
  margin-top: 15px;
  width: 80%;
  padding: 3px 0;
  font-size: 1.2rem;
  color: #4F46BA;
  border: none;
  border-radius: 5px;
  transition: all 0.5s ease-in-out;
  background-color: white;
}
.account .current__btn:hover {
  color: rgb(100, 96, 125);
}

@media only screen and (max-width: 991px) {
  .col__abas {
    display: none;
    padding: 0;
  }
  .col__summary {
    padding: 10px 80px;
  }
  .summary {
    width: 100% !important;
  }
  .summary__footer {
    display: none;
  }
  .current {
    padding: 15px 80px !important;
  }
}
@media only screen and (max-width: 635px) {
  .col__summary {
    padding: 10px 15px !important;
  }
  .current {
    padding: 15px 15px !important;
  }
}
.err__header {
  background-color: rgb(201, 231, 242);
}

.err {
  height: 100vh;
  background-color: rgb(139, 179, 194);
  border-top: 5px solid #4F46BA;
}
.err__text {
  width: 100%;
  padding: 20px 0 0 0;
  text-align: center;
}
.err__text--title {
  font-size: 3.2rem;
}
.err__text--title span {
  color: #4F46BA;
}
.err__text--p {
  font-size: 1.4rem;
}
.err__img {
  width: 100%;
  background-color: rgb(139, 179, 194);
  display: flex;
  justify-content: center;
}

/*# sourceMappingURL=style.css.map */
