.beneficios {
    background-color: $whiteBg;
    padding: 50px 0;
    &__texts {
        justify-content: space-between;
        margin-bottom: 50px;
        &--text {
            text-align: left;
            width: 40%;
            h3 {
                @include title;
                padding: 10px 0;
            }
        }
        &--blockquote {
            @include blockquote(35%);
        }
    }
}