.companies {
    height: 190px;
    width: 100%;
    background-color: $grayBg;
    &__title {
        text-align: center;
        padding: 30px 0;
        color: black;
        font-size: 1.2rem;
    }
}
.slider {
    // position: relative;
    &__track {
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: space-between;
        // animation: scroll 25s infinite linear;
    }
}
@keyframes scroll {
    from {
        right: -33px;
    }
    to {
        right: 100%;
    }
}