.header {
    position: relative;
    height: 100vh;
    width: 100%;
    background: rgb(201,231,242);
    background: linear-gradient(90deg, rgba(201,231,242,1) 0%, rgba(98,186,218,1) 500%);
    overflow: hidden;
    &__navegation {
        height: 10%;
    }
    &__nav {
        padding-top: 30px;
    }
    &__showcase {
        height: 90%;
    }
    &__floatImg {
        &--item1 {
            position: absolute;
            top: 120px;
            right: 0;
        }
        &--item2 {
            position: absolute;
            bottom: 50px;
            left: 0;
        }
        &--item3 {
            position: absolute;
            bottom: -30px;
            right: 0;
        }
    }
}