.nav-link {
    color: rgba(0, 0, 0, 0.8) !important;
    &:hover {
        color: rgb(0, 0, 0) !important;
    }
}
.navbar__nav  {
    padding: 10px 0 15px 0;
}
.navbar__title {
    font-size: 1.5rem;
}
#navbar__login--regis {
    background: $colorPurple;
    border: none;
    color: white !important;
    padding: 7px 15px;
    border-radius: 5px;
    margin-left: 10px;
    i {
        margin-left: 5px;
    }
}
.navbar__div {
    padding: 10px 35px 0 35px;
}
.navbar__content {
    justify-content: end;
}
@media only screen and (max-width: 991px) {
    .navbar__login--mobile {
        display: contents !important;
    }
    .navbar__login {
        display: none;
    }
}