.questions {
    margin-bottom: 50px;
    h3 {
        @include title;
    }
    &__cards {
        &--card {
            display: flex;
            justify-content: center;
            .card {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                width: 80%;
                height: 400px;
                padding: 25px 25px;
                img {
                    height: 60px;
                    margin: 25px 0 0 0;
                }
                button {
                    @include button(#FF7F5C, white);
                    height: 53px;
                    transition: $transition;
                    &:hover {
                        background-color: #db6646;
                    }
                }
                h4 {
                    color: black;
                    margin: 5px 0;
                    text-align: center;
                }
                p {
                    margin: 0;
                    text-align: center;
                }
            }
        }
    }
    &__accordion {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        &--item {
            border: 0;
            #help__btn {
                button {
                    border: 2px solid rgba(0, 0, 0, 0.229);
                    border-radius: 5px;
                }
            }
        }
    }
}
@media only screen and (max-width: 1199px) {
    .questions {
        h3 {
            margin-bottom: 30px;
        }
        &__cards {
            &--card {
                display: none;
            }
        }
        &__accordion {
            &--item {
                margin: 7px 0;
            }
        }
    }
}
@media only screen and (max-width: 465px) {
    .questions {
        h3 {
            font-size: 2.1rem;
            text-align: center;
        }
    }
}