.header--account {
    background-color: rgb(201, 231, 242);
}
.account {
    height: 100vh;
    width: 100%;
    background: $whiteBg;
    &__painel {
        border-top: 5px solid $colorPurple;
        margin: 0;
    }
    .col__abas {
        padding-left: 0;
    }
    .abas {
        height: 100%;
        &__div {
            box-shadow: 15px 0px 20px 0px rgba(0,0,0,0.25);
            background-color: rgba(179, 179, 179, 0.741);
            height: 100%;
            width: 80%;
        }
        &__aba {
            width: 100%;
            height: 55px;
            border: none;
            border-bottom: 2px solid rgba(179, 179, 179, 0.741);
        }
        .actived {
            background-color: $colorPurple;
            color: white;
        }
    }
    .summary {
        width: 80%;
        &__header {
            padding: 20px 0;
            border-bottom: 2px solid rgba(179, 179, 179, 0.741);
            display: flex;
            justify-content: space-between;
            align-items: center;
            h2 {
                margin: 0;
                span {
                    color: $colorPurple;
                }
            }
            a {
                text-decoration: none;
                color: black;
                font-size: 1.2rem;
                transition: $transition;
                &:hover {
                    color: rgb(62, 62, 62);
                }
            }
        }
        &__main {
            padding: 20px 0;
            border-bottom: 2px solid rgba(179, 179, 179, 0.741);
            &--tables {
                padding-bottom: 20px;
                border-bottom: 2px solid rgba(179, 179, 179, 0.741);
                table {
                    display: inline;
                    padding: 0 30px;
                    th {
                        padding: 10px 5px;
                        &:nth-child(2) {
                            font-weight: 700;
                        }
                    }
                }
                .tables__links {
                    width: 100%;
                    text-align: right;
                    &--link {
                        color: black;
                        font-size: 1rem;
                        transition: $transition;
                        &:hover {
                            color: rgb(62, 62, 62);
                        }
                    }
                }
            }
            &--chaves {
                padding: 20px 15px 0 15px;
                display: flex;
                justify-content: space-between;
                h2 {
                    color: $colorPurple;
                    margin: 0;
                }
                select {
                    padding: 0 10px;
                    width: 35%;
                    font-size: 1.1rem;
                }
            }
        }
        &__footer {
            text-align: center;
            padding-top: 20px;
            a {
                text-decoration: none;
                color: black;
                font-size: 1rem;
                transition: $transition;
                &:hover {
                    color: rgb(62, 62, 62);
                }
            }
        }
    }
    .current {
        background-color: $colorPurple;
        text-align: center;
        color: white;
        padding: 15px 0 20px 0;
        &__money {
            margin-bottom: 10px;
            p {
                margin: 0;
            }
            h2 {
                font-weight: 700;
                margin: 0;
            }
        }
        &__payment {
            table {
                width: 100%;
            }
            &--text {
                text-align: left;
                padding: 7px 0 7px 25px;
            }
            &--num {
                font-weight: 700;
                text-align: right;
                padding: 7px 25px 7px 0;
            }
        }
        &__btn {
            margin-top: 15px;
            width: 80%;
            padding: 3px 0;
            font-size: 1.2rem;
            color: $colorPurple;
            border: none;
            border-radius: 5px;
            transition: $transition;
            background-color: white;
            &:hover {
                color: $colorPurpleAlt;
            }
        }
    }
}
@media only screen and (max-width: 991px) {
    .col__abas {
        display: none;
        padding: 0;
    }
    .col__summary {
        padding: 10px 80px;
    }
    .summary {
        width: 100% !important;
        &__footer {
            display: none;
        }
    }
    .current {
        padding: 15px 80px !important;
    }
}
@media only screen and (max-width: 635px) {
    .col__summary {
        padding: 10px 15px !important;
    }
    .current {
        padding: 15px 15px !important;
    }
}