.header--account {
    background-color: rgb(201, 231, 242);
}
.account {
    background: $whiteBg;
    &__painel {
        border-top: 5px solid $colorPurple;
    }
    .current {
        background-color: $colorPurple;
        text-align: center;
        color: white;
        padding: 15px 0 20px 0;
        &__money {
            margin-bottom: 10px;
            p {
                margin: 0;
            }
            h2 {
                font-weight: 700;
                margin: 0;
            }
        }
        &__payment {
            table {
                width: 100%;
            }
            &--text {
                text-align: left;
                padding: 7px 0 7px 25px;
            }
            &--num {
                font-weight: 700;
                text-align: right;
                padding: 7px 25px 7px 0;
            }
        }
        &__btn {
            margin-top: 15px;
            width: 80%;
            padding: 3px 0;
            font-size: 1.2rem;
            color: $colorPurple;
            border: none;
            border-radius: 5px;
            transition: $transition;
            &:hover {
                color: $colorPurpleAlt;
            }
        }
    }
}