.beneficios {
    background-color: $whiteBg;
    padding: 50px 0;
    position: relative;
    &__floatImg {
        &--item1 {
            position: absolute;
            bottom: -75px;
            right: 0;
        }
        &--item2 {
            position: absolute;
            top: 155px;
            left: 0;
        }
    }
    &__texts {
        justify-content: space-between;
        margin-bottom: 50px;
        &--text {
            text-align: left;
            width: 40%;
            h3 {
                @include title;
                padding: 10px 0;
            }
        }
        &--blockquote {
            @include blockquote(35%);
        }
    }
}
@media only screen and (max-width: 991px) {
    .beneficios {
        &__texts {
            &--blockquote {
                @include blockquote(45%);
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .beneficios {
        &__texts {
            &--text {
                z-index: 2;
                text-align: left;
                width: 100%;
                h3 {
                    font-size: 170%;
                }
                p {
                    margin: 0;
                }
            }
            &--blockquote {
                display: none;
            }
        }
    }
}