.companies {
    width: 100%;
    background-color: $grayBg;
    &__title {
        text-align: center;
        padding: 30px 0 0 0;
        color: black;
        font-size: 1.2rem;
    }
}
.slider {
    height: 100px;
    margin: auto;
    overflow: hidden;
    position: relative;
    width: auto;
    &__track {
        animation: roll 30s linear infinite;
        display: flex;
        width: calc(180px * 14);
        &--item {
            height: 100px;
            width: 180px;
        }
    }
}
@keyframes roll {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-180px * 7);
    }
}