.statistics {
    background-color: #3734A9;
    color: white;
    height: 200px;
    position: relative;
    margin-bottom: 50px;
    img {
        position: absolute;
        top: 0;
        right: 0;
    }
    &__text {
        display: flex;
        justify-content: center;
        align-items: center;
        border-right: 3px solid rgba(0,0,0,0.3);
        p {
            letter-spacing: 1px;
            font-size: 1.1rem;
            margin: 0;
        }
    }
    &__numbers {
        display: flex;
        justify-content: space-around;
        align-items: center;
        &--num {
            h3 {
                @include title;
                color: white;
                font-size: 3.6rem;
                margin: 8px 0;
            }
            p {
                margin: 0;
                i {
                    padding: 0 7px;
                    color: #B1CA16;
                }
            }
        }
    }
}
@media only screen and (max-width: 767px) {
    .statistics {
        z-index: -2;
        img {
            z-index: -1;
        }
        &__text {
            display: none;
        }
        &__numbers {
            padding: 0;
            display: flex;
            justify-content: space-between;
            width: 100%;
            &--num {
                h3 {
                    font-size: 3rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 600px) {
    .statistics {
        z-index: -2;
        img {
            z-index: -1;
        }
        .container {
            margin: 0;
            padding: 0;
            width: 100%;
            .row {
                width: 100vw;
                margin: 0;
            }
        }
        &__numbers {
            justify-content: space-evenly;
            &--num {
                h3 {
                    font-size: 2.5rem;
                }
            }
        }
    }
}
@media only screen and (max-width: 499px) {
    .statistics {
        height: 170px;
        &__numbers {
            &--num {
                padding: 0 15px;
                h3 {
                    font-size: 2rem;
                }
            }
        }
    }
}