// Vars
$colorPurple: #4F46BA;
$colorPurpleHover: #463ea1;
$colorPurpleAlt: rgba(100, 96, 125, 1);

$grayBg: #F5F6F8;
$whiteBg: #FAFBFF;

$transition: all 0.5s ease-in-out;
// Mixins
@mixin button($color, $colorFont) {
    padding: 10px 20px;
    border: none;
    background-color: $color;
    color: $colorFont;
    font-weight: 700;
    font-size: 0.9rem;
}
@mixin title {
    font-weight: 700;
    font-size: 2.6rem;
    color: black;
}
@mixin blockquote($porcentagemW) {
    background-color: $grayBg;
    width: $porcentagemW;
    border-radius: 20px;
    position: relative;
    display: flex;
    justify-content: space-around;
}
@mixin checked($bgcolor, $w, $h) {
    background-color: $bgcolor;
    color: white;
    width: $w;
    height: $h;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.8rem;
}