@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@300;500;700&display=swap");
body {
  font-family: "Manrope", sans-serif;
}

blockquote {
  width: 80%;
  height: 100%;
  margin: 0;
  color: black;
  font-size: 1.1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
blockquote p {
  margin: 0;
}
blockquote p span {
  font-weight: 700;
}

.blockquote--icon {
  background-color: black;
  color: white;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
  position: absolute;
  font-size: 1.3rem;
  top: -15px;
  left: 30px;
}

.header {
  position: relative;
  height: 100vh;
  width: 100%;
  background: #c9e7f2;
  background: linear-gradient(90deg, #c9e7f2 0%, #62bada 500%);
  overflow: hidden;
}
.header__navegation {
  height: 10%;
}
.header__nav {
  padding-top: 30px;
}
.header__showcase {
  height: 90%;
}
.header__floatImg--item1 {
  position: absolute;
  top: 120px;
  right: 0;
}
.header__floatImg--item2 {
  position: absolute;
  bottom: 50px;
  left: 0;
}
.header__floatImg--item3 {
  position: absolute;
  bottom: -30px;
  right: 0;
}

.nav {
  align-items: center;
}
.nav__title {
  font-weight: 700;
  width: 40%;
}
.nav__sections {
  display: flex;
  width: 60%;
  margin: 0;
  padding: 0;
  justify-content: space-between;
}
.nav__sections--items {
  display: flex;
  align-items: center;
}
.nav__sections--items li {
  padding: 0 5px;
}
.nav__sections--login {
  display: flex;
  align-items: center;
}
.nav__sections--login li {
  padding: 0 8px;
}
.nav__sections--login li button {
  padding: 10px 20px;
  border: none;
  background-color: #4F46BA;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  transition: all 0.5s ease-in-out;
}
.nav__sections--login li button:hover {
  background-color: #463ea1;
}

.row {
  height: 100%;
}

.showcase__imgs {
  position: relative;
  overflow: hidden;
  height: 100%;
}
.showcase__imgs--item1 {
  position: absolute;
  top: 90px;
  z-index: 3;
}
.showcase__imgs--item2 {
  position: absolute;
  top: 37px;
  z-index: 5;
}
.showcase__imgs--item2 img {
  width: 222px;
}
.showcase__imgs--item3 {
  position: absolute;
  left: 200px;
  bottom: 115px;
  z-index: 4;
}
.showcase__check {
  display: flex;
  padding-top: 65px;
}
.showcase__check--item {
  display: flex;
  align-items: center;
}
.showcase__check--item i {
  background-color: #4F46BA;
  color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.showcase__check--item p {
  margin: 0 10px;
  cursor: default;
}
.showcase__buttons {
  padding-top: 10px;
  display: flex;
  align-items: center;
}
.showcase__buttons #button {
  padding: 10px 20px;
  border: none;
  background-color: #4F46BA;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 25px;
  padding: 15px 35px;
  transition: all 0.5s ease-in-out;
}
.showcase__buttons #button:hover {
  background-color: #463ea1;
}
.showcase__buttons .seeHowWorks {
  display: flex;
  align-items: center;
  text-align: center;
  text-decoration: none;
  margin-left: 50px;
}
.showcase__buttons .seeHowWorks p {
  color: #4F46BA;
  margin: 0 10px;
  transition: all 0.5s ease-in-out;
}
.showcase__buttons .seeHowWorks p:hover {
  color: #463ea1;
}
.showcase__buttons .seeHowWorks #button__video {
  padding: 10px 20px;
  border: none;
  background-color: #22D497;
  color: white;
  font-weight: 700;
  font-size: 0.9rem;
  border-radius: 100%;
  padding: 13px 19px;
  text-align: center;
  transition: all 0.5s ease-in-out;
}
.showcase__buttons .seeHowWorks #button__video:hover {
  background-color: #1db37e;
}
.showcase__text {
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.showcase__text h1 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  width: 90%;
  padding: 0 0 15px 0;
}
.showcase__text p {
  color: #64607d;
  max-width: 80%;
}

.companies {
  height: 190px;
  width: 100%;
  background-color: #F5F6F8;
}
.companies__title {
  text-align: center;
  padding: 30px 0;
  color: black;
  font-size: 1.2rem;
}

.slider__track {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@keyframes scroll {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(966px);
  }
}
.beneficios {
  background-color: #FAFBFF;
  padding: 50px 0;
}
.beneficios__texts {
  justify-content: space-between;
  margin-bottom: 50px;
}
.beneficios__texts--text {
  text-align: left;
  width: 40%;
}
.beneficios__texts--text h3 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  padding: 10px 0;
}
.beneficios__texts--blockquote {
  background-color: #F5F6F8;
  width: 35%;
  border-radius: 20px;
  position: relative;
  display: flex;
  justify-content: space-around;
}

.beneficios__cards {
  grid-gap: 30px;
  margin: 40px 0;
}
.beneficios__card {
  height: 400px;
  border-radius: 10px;
  background-color: white;
  border: 2px solid rgba(0, 0, 0, 0.1);
}
.beneficios__card h3 {
  padding: 10px 0 10px 5px;
  margin: 0;
  text-align: start;
}
.beneficios__card--text {
  width: 85%;
  text-align: center;
  margin: auto;
}
.beneficios__card--text img {
  margin: 32px 0;
}
.beneficios__card--text h2 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  font-size: 2.1rem;
  margin-bottom: 32px;
}

.whyUs {
  background-color: #FAFBFF;
  padding-bottom: 50px;
}
.whyUs__img {
  display: flex;
  position: relative;
}
.whyUs__img--item {
  z-index: 1;
}
.whyUs__img--1 {
  position: absolute;
  top: 145px;
  left: 65px;
  z-index: 2;
}
.whyUs__img--2 {
  position: absolute;
  top: 260px;
  left: 35px;
  z-index: 2;
}
.whyUs__img--3 {
  position: absolute;
  top: 370px;
  z-index: 2;
}
.whyUs__img--4 {
  position: absolute;
  top: 32px;
  right: 70px;
  z-index: 2;
}
.whyUs__img--svg {
  position: absolute;
  top: 35px;
  right: 90px;
  z-index: 3;
}
.whyUs__why {
  color: #3734A9;
  font-size: 1.3rem;
  margin: 10px 0 0 0;
}
.whyUs__title {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  margin: 15px 0 20px 0;
}
.whyUs__text {
  color: #64607d;
  margin-bottom: 20px;
}
.whyUs__check {
  padding: 20px 0;
  border-top: 2px solid rgba(0, 0, 0, 0.1);
}
.whyUs__check--item {
  display: flex;
  padding: 5px 0;
}
.whyUs__check--item i {
  background-color: #FDBC64;
  color: white;
  width: 23px;
  height: 23px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.8rem;
}
.whyUs__check--item p {
  margin: 0 10px;
  cursor: default;
}

.statistics {
  background-color: #3734A9;
  color: white;
  height: 200px;
  position: relative;
  margin-bottom: 50px;
}
.statistics img {
  position: absolute;
  top: 0;
  right: 0;
}
.statistics__text {
  display: flex;
  justify-content: center;
  align-items: center;
  border-right: 3px solid rgba(0, 0, 0, 0.3);
}
.statistics__text p {
  letter-spacing: 1px;
  font-size: 1.1rem;
  margin: 0;
}
.statistics__numbers {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.statistics__numbers--num h3 {
  font-weight: 700;
  font-size: 2.6rem;
  color: black;
  color: white;
  font-size: 3.6rem;
  margin: 8px 0;
}
.statistics__numbers--num p {
  margin: 0;
}
.statistics__numbers--num p i {
  padding: 0 7px;
  color: #B1CA16;
}

/*# sourceMappingURL=style.css.map */
