<%- include('includes/header'); %>
<div class="err__header">
    <%- include('includes/navbar') %>
</div>

<div class="err">
    <div class="err__text">
        <h1 class="err__text--title">Erro <span>404</span></h1>
        <p class="err__text--p">A página que você procura não existe!</p>
    </div>
    <div class="err__img">
        <img src="./assets/img/err404.png" class="err__img--img img-fluid" alt="Erro 404">
    </div>
</div>

<%- include('includes/footer'); %>